@import 'scss/globals/scss/styles.scss';

.reserve {
  overflow: hidden;
  height: 100vh;
  &__form {
    grid-column: 4/10;
    grid-row: 5/10;
    display: flex;
    flex-direction: column;
  }

  &__breadcrumbs {
    grid-column: 2/5;
    grid-row: 1/2;
  }

  &__progress {
    grid-column: 4/10;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__progress-navs {
    display: flex;
    margin-top: 2.5rem;
  }

  &__messages {
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 10;
    display: flex;
    flex-direction: column;

  }
}



.form {
  &__reservation {


  }
  &__personal {

  }

  &__item {
    max-width: 18rem;
  }

  &__submit {
    margin-top: $spacing-08;
  }

  &__review-item {
    color: #000;
  }
}

.bx--label{
  margin-top: $spacing-08;
}